*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container{
    background-color: rgb(244, 232, 5);
    width: 300px;
    height: 200px;
    position: relative;
  
    margin: 150px;
   
}
.box{
    background-color: blue;
}
.first, .third{
    width: 100px;
    height: 90px;
    position: absolute;
}
.third{
    bottom: 0px;
}
.second,.fourth{
    width: 180px;
    height: 90px;
    position: absolute;
}
.second{
    top: 0px;
    right: 0px;
}
.fourth{
    bottom: 0px;
    right: 0px;
}