* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container {
    /* height: 640px; */
    /* width: 640px; */

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 5px solid yellowgreen;
}

.box {
    height: 80px;
    width: 80px;

}

.first {
    background-color: white;
}

.second {
    background-color: black;
}