*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(242, 7, 140);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
}
.container{
    background-color: white;
    width:  300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 4px 3px 10px 1px;
   
   
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    margin-top: 20px;
    margin-bottom: 30px;
}
.user,.email,.create,.confirm{
    
    width: 25px;
    height: 25px;
}

input{
    height: 30px;
    padding: 5px;
    width: 85%;
    border-radius: 5px;
    border: 1px solid rgb(234, 223, 223);
    
}
input:hover{
    background-color: rgb(229, 235, 235);
    cursor: pointer;
}
div{
    margin: 15px;
}
button{
    background-color: rgba(183, 10, 231, 0.793);
    color: white;
    height: 30px;
    width: 85%;
    padding: 5px;
    margin-left: 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
}
button:hover{
    background-color: rgb(72, 68, 156);
}
