*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: aquamarine;
    height: 200px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
   
   
    
  
 
    
}
img{
    width: 100%;
    background-color: blueviolet;
   
    
}
.box{
    margin: 5px;
}

@media screen and (max-width:800px){
    .container{
        background-color: rgb(49, 130, 49);
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

    }
    

}

@media screen and (max-width:450px){
    .container{
        background-color: rgb(133, 36, 114);
    height: 200px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);

    }
    

}
