*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    background-color:   black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.container{
    height: 800px;
    width: 800px;
    margin: 10px;
    border: 5px solid rgb(5, 218, 62);
    display: grid   ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 20px;
    text-align: center;

    
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: blueviolet;
    
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(63, 121, 121);
}
.content1{
    grid-column: 2/4;
    background-color: blueviolet;
}
.content2{
    grid-column: 2/3;
    background-color: blue;
}
.footer{
    grid-column: 1/4;
    background-color: blueviolet;
}
.content3{
    background-color: rgb(88, 8, 237);
}