*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
   
    
}
.container{
    background-color: aqua;
    width: 620px;
    height: 520px;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}
.first{
    background-color: blueviolet;
    width: 300px;
    height: 500px;
   
}
.second{
    background-color: brown;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.child1{
    height:235px ;
    width: 280px;
    background-color: cornflowerblue;
}
.child2{
    height:235px ;
    width: 280px;
    background-color: rgb(11, 207, 90);
}
