*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    line-height: 1.6;
    color: #a0a0a0;
    font-family: sans-serif;
}
.main-container{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 20px;
    margin: auto;
}
.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 20px;
    position: sticky;
    top: 30px;
    

}
.sidebar p:hover{
    background-color: rgb(1, 15, 11);
    transform: scale(1.2);
    color: #e0e0e0;
}
.main-content{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;

}
.profile{
    text-align: center;
}

.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}
.profile{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;

}
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.email,.phone{
    margin-bottom: 15px;
}
.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
    margin: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}

/* Main Content */

/* Navigation Section */
#navigation{
    
     border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;

}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
   
}
.active, nav a:hover{
    color: #ffbf00;
}

/* About */


.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line{
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 20px;
}
.content{
    text-align: justify;
}
#about{
    margin-bottom: 40px;
}

/* Skills */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 40px;
}
.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item img{
    margin-bottom: 15px;
    width: 48px;
    height: 48px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(98%) saturate(7490%) hue-rotate(340deg) brightness(112%) contrast(93%);;
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.item:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Education */

#education{
    margin-top: 30px;
}
.edtech{
    position: relative;
    margin-top: 20px;
}
.edfirst, .edsecond{
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}
.work{
    color: #a0a0a0;
}
.goal{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid #ffbf00;
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 1;
}
.liner{
    position: absolute;
    width: 2px;
    top: 3px;
    bottom: 0px;
    border: 2px solid #3a3a3a;
    left: 5px;

}

/* portfolio */

.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.projects{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
   
}
.projects:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
} 
.projects img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.card{
    padding: 20px;
}
.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}
.card p{
    line-height: 1.6;
    color: #a0a0a0;
    margin-bottom: 10px;

}
.card span{
    background-color: rgba(255,191,0,0.1);
    color: #ffbf00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;

}