*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}
.container{
    background-color: rgb(9, 186, 127);
    width: 100%;
    height: 50px;
    margin-top: 10px;
    width: 80%;
    overflow: hidden;
   
   
}
p{
    text-align: center;
    padding: 8px;
    color: rgb(90, 7, 224);
    font-size: 30px;
    font-weight: 500;
    animation-name: slide;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
   
}
@keyframes slide {
    0%{
      margin-right: -2000px;

    }

    100%{
        margin-left: -1900px;
    }
    
}