*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 500px;
    color: #f1f5f7;
     

}
.box{
    height: 200px;
    width: 200px;
    background-color: rgb(205, 28, 28);
    position: absolute;
    border-radius: 50%;
    animation-name: ghumo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.circle1{
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
   position: absolute;
   top: 30px;
   left: 80px;
}
.circle2{
    height: 30px;
    width: 30px;
    background-color: rgb(42, 234, 17);
    border-radius: 50%;
   position: absolute;
   top: 60px;
   left: 120px;
}
.circle3{
    height: 30px;
    width: 30px;
    background-color: rgb(242, 255, 0);
    border-radius: 50%;
   position: absolute;
   top: 20px;
   left: 40px;
  
   
}
@keyframes ghumo {
    
        from{
            transform: rotate(odeg)  ;
        }
        to{
            transform: rotate(360deg) ;
        }
    
}
    
.box1{
    height: 50px;
    width: 50px;
    background-color: chartreuse;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: box;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box2{
    height: 50px;
    width: 50px;
    background-color: chartreuse;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: box;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
     animation-direction: alternate;
}

.box3{
    height: 50px;
    width: 50px;
    background-color: chartreuse;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: box;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
     animation-direction: alternate;
}

.box4{
    height: 50px;
    width: 50px;
    background-color: chartreuse;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: box;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
     animation-direction: alternate;
}

@keyframes box {

    from{
        background-color: blueviolet;
        transform: translateZ(-200px);
    }
    to{
        background-color: brown;
        /* transform: translateZ(200px); */
    }
    
}