*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container{
    background-color: white;
    width: 400px;
    height: 300px;
    position: relative;
}
.flag{
    background-color: rgb(197, 20, 20);
    width: 150px;
    height: 150px;
    position: absolute;
    top: 75px;
    left: 125px;
    border-radius: 50%;
}